* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #002D62;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    justify-items: end;
}

.logo {
    padding: 10px;
    margin-right: 20%;
}

.title {
    margin-right: 73%;
}

.title h1 {
    font-size: 45px;
    color: #00416A;
}

.logo img {
    width: 100px;
    height: auto;
}

.logout-container {
    margin-right: 7%;
}

.logout {
    background-color: #00416A;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #72A0C1;
}

.listItem {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

input[type="text"], input[type="int"] {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.listItem button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

.listItem button:hover {
    cursor: pointer;
    background-color: #45a049;
}

.user {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: white;
}

