* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    justify-items: end;
    border-bottom: 5px double #FFEB80;
}

.logo {
    padding: 10px;
    margin-right: 20%;
}

.title {
    margin-right: 73%;
}

.title h1 {
    font-size: 45px;
    color: #00416A;
}

.logo img {
    width: 100px;
    height: auto;
}

.logout-container {
    margin-right: 7%;
}

.logout {
    background-color: #00416A;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #72A0C1;
}

.cartContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: auto;
    border: 3px solid #002244;
    margin: 1%;
    width: 50%;
} 
.cartContainer>div {
    margin: 5%;
    text-align: center;
}
.cartItemQuantity>form{
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    padding: 0 30%;
}

.user {
    color: #002244;
    font-size: 40px;
    margin-left: 1%;
}

.browseSelection {
    margin-top: 1%;
    width: auto;
    align-items: center;
    justify-items: end;
}

.browseSelection button {
    width: 75%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EE4B2B;
    color: white;
    font-size: 18px;
}

.browseSelection button:hover {
    background-color: #880808;
    cursor: pointer;
}

.big-container {
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: #002244;
    font-size: 20px;
}

.big-container h2 {
    font-size: 35px;
    margin: 2% 0 2% 0;
}

.payment-container {
    align-items: center;
    justify-items: center;
    color: #002244;
}

.paymentDetails {
    font-size: 20px;
}

.paymentDetails button {
    width: 50%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    margin: 5% 0 25% 24%;
}

.paymentDetails button:hover {
    background-color: #7bd67e;
    cursor: pointer;
}

.paymentDetails h4 {
    text-align: center;
    padding-top: 10%;
    font-size: 25px;
}

.paymentDetails h5 {
    font-size: 20px;
    color: #EE4B2B;
}