* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: white;
    border-bottom: 5px double #FFEB80;
}

.logo {
    padding: 10px;
}

.title {
    padding: 15px 0 0 30px; 
}

.title h1 {
    font-size: 45px;
    color: #00416A;
}

.logo img {
    width: 100px;
    height: auto;
}

.logout {
    background-color: #00416A;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
    margin: 20px 0 0 950px;
}

.logout:hover {
    background-color: #72A0C1;
}

.itemInfo {
    display: grid;
    grid-template-columns: 45% 45%;
    width: auto;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-top: 1%;
    border-radius: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #002244;
}

.itemName {
    font-size: 30px;
    color: white;
}

#itemName {
    font-size: 25px;
}

.itemInfo>div {
    margin: 5%;
    text-align: center;
}

.itemInfo>div>img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.user {
    padding: 3% 1% 1% 5%;
    color: #002244;
    font-size: 40px;
}

.top-container {
    display: grid;
    grid-template-columns: 35% 65%;
    width: auto;
}

.browseSelection {
    align-items: end;
    justify-items: end;
    padding: 2% 0 1% 0;
}

.browseSelection button {
    width: 75%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EE4B2B;
    color: white;
    font-size: 18px;
}

.browseSelection button:hover {
    background-color: #880808;
    cursor: pointer;
}

.item-container {
    border: 1px solid #ccc;
    margin: 2% 2% 1% 2%;
    padding: 2% 2% 4% 2%;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    background-color: #002244;
}

.addToCart {
    align-items: center;
    justify-items: center;
}

.addToCart button {
    width: 100%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    margin-bottom: 50%;
}

.addToCart button:hover {
    cursor: pointer;
    background-color: #76d872;
    width: 100%;
}