* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: white;
    border-bottom: 5px double #FFEB80;
}

.logo {
    padding: 10px;
}

.title {
    padding: 15px 0 0 30px; 
}

.title h1 {
    font-size: 45px;
    color: #00416A;
}

.logo img {
    width: 100px;
    height: auto;
}

.logout {
    background-color: #00416A;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
    margin: 20px 0 0 960px;
}

.logout:hover {
    background-color: #72A0C1;
}

.selectionContainerBox{
    padding: 0 2% 2% 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1% 2% 2% 2%;
    background-color: #002D62;

}

.selectionContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: auto;
    align-items: center;
    justify-content: center;
}

.selectionContainer>a {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5%;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    color: #002244;
}

.selectionContainer>a:hover {
    background: lightblue;
    border-radius: 10px;
}

.clickable {
    color: black; 
    text-decoration:none;
}

#itemPic{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#itemDesc{
    padding: 10%;
}

.user {
    padding: 1%;
    color: #002244;
    font-size: 40px;
}

.browseItem {
    padding: 1% 1% 0 1%;
    font-size: 30px;
    color: #002244;
}

.viewCart {
    align-items: center;
    justify-items: center;
}

.viewCart button {
    width: 100%;
    padding: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}

.viewCart button:hover {
    cursor: pointer;
    background-color: #45a049;
}
